.linkStrelka {
color:#000;
cursor:pointer;
}
.linkStrelka:hover {
color:#00a65a;
font-size: 100%
}
@media print {
       .noprint {
        display:none;}
        .print {
        display:block;}
}
@media screen {
    .screen {
        display:none;
    }
}

@page {

    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}
